// COLORS ====
$color_light: #f1f1f1;
$color_dark: #0d1321;

$color1: #48639c;
$color2: #5f5aa2;
$color3: #4c4c9d;
$color4: #052f5f;

// FONTS ====
$mainFont: 'Roboto Condensed', sans-serif;


// Breakpoints

$tablet: 1024px;
$laptop: 1200px;